<div class="index">
  <p>
    <a class="myButton" href="/transactions/new">New transaction</a>
  </p>
</div>



<div class= "big-form">
  <form action="/transactions/merchant" method="post">
    <label>
    Filter by merchant:
      <select name="merchant_id" required>
      <option disabled selected>Select a merchant!</option>
        <% for merchant in @merchants %>
        <option value="<%= merchant.id %>"><%= merchant.name.capitalize %></option>
        <% end %>
      </select>
    </label>

    <input type='submit' value="Filter">
  </form>

  <form action="/transactions/tag" method="post">
    <label>
    Filter by tag:
      <select name="tag_id" required>
        <option disabled selected>Select a tag!</option>
        <% for tag in @tags %>
        <option value="<%= tag.id %>"><%= tag.name.capitalize %></option>
        <% end %>
      </select>
    </label>

    <input type='submit' value="Filter">
  </form>

  <form action="/transactions/month" method="post">
    <label>
    Filter by month:

    <select name="month" required>

      <option disabled selected>Select a month!</option>
      <option value="01">January</option>
      <option value="02">February</option>
      <option value="03">March</option>
      <option value="04">April</option>
      <option value="05">May</option>
      <option value="06">June</option>
      <option value="07">July</option>
      <option value="08">August</option>
      <option value="09">September</option>
      <option value="10">October</option>
      <option value="11">November</option>
      <option value="12">December</option>

    <input type='submit' value="Filter">
  </form>
  </div>

<div class="tables">


  <p>All <%= @filter %> transactions </p>
  <p> Total: £<%= @total %></p>

  <table>
    <tr>
      <th>Merchant</th>
      <th>Tag</th>
      <th>Amount</th>
      <th>Date</th>
    </tr>
    <% @transactions.each do |transaction| %>
    <tr class="link" onclick="window.location='/transactions/<%= transaction.id %>'">
      <td><%= transaction.merchant.name.capitalize %></td>
      <td><%= transaction.tag.name.capitalize %></td>
      <td>£<%= transaction.amount %></td>
      <td><%= transaction.day %> / <%= transaction.month %></td>
    </tr>

    <% end %>
  </table>

</div>
