<div class="index">
  <p>
    <a class="myButton" href="/transactions/new">New transaction</a>
  </p>
</div>



<div class= "big-form">
  <form action="/transactions/filter-by-merchant" method="post">
    <label>
    Filter by merchant:
      <select name="merchant_id" required>

        <% for merchant in @merchants %>
        <option value="<%= merchant.id %>"><%= merchant.name.capitalize %></option>
        <% end %>
      </select>
    </label>

    <input type='submit' value="Filter">
  </form>

  <form action="/transactions/filter-by-tag" method="post">
    <label>
    Filter by tag:
      <select name="tag_id" required>

        <% for tag in @tags %>
        <option value="<%= tag.id %>"><%= tag.name.capitalize %></option>
        <% end %>
      </select>
    </label>

    <input type='submit' value="Filter">
  </form>

  <form action="/transactions/filter-by-date-range" method="post">
    <label>Filter by date range</label>


      <input required type="date" name="start_date" value="">
      <label>Start Date</label>

      <input required type="date" name="end_date" value="">
      <label>End Date</label>

    <input type='submit' value="Filter">
  </form>
  </div>

<div class="tables">

  <p>All <%= @filter %> transactions </p>
  <p> Total: £<%= @total %></p>

  <table>
    <tr>
      <th>Merchant</th>
      <th>Tag</th>
      <th>Amount</th>
      <th>Date</th>
    </tr>
    <% @transactions.each do |transaction| %>
    <tr class="link" onclick="window.location='/transactions/<%= transaction.id %>'">
      <td><%= transaction.merchant.name.capitalize %></td>
      <td><%= transaction.tag.name.capitalize %></td>
      <td>£<%= transaction.amount %></td>
      <td><%= transaction.transaction_date %></td>
    </tr>
    <% end %>
  </table>

  <p>
    <a class="myButton" href="/transactions">Clear filter</a>
  </p>

</div>
