
<div class="index">
  <p>
    <a class="myButton" href="/transactions/<%= @transaction.id %>/edit">Edit</a>
  </p>

  <div class="table2">


  <table>
    <td><%= @transaction.merchant.name.capitalize %></td>
    <td><%= @transaction.tag.name.capitalize %></td>
    <td>£<%= @transaction.amount %></td>
    <td>£<%= @transaction.transaction_date %></td>
  </table>

  </div>

  <form action="/transactions/<%= @transaction.id  %>/delete" method="post">
      <input class="delete" type='submit' value="Delete">
  </form>

</div>
